<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Viewer</title>
</head>
<body class="container">
    <div class="page-header">
        <ul>
            <li>
                <p>User: <a href="{% url 'user_page' username=user %}">{{ user }}</a></p>
            </li>
            <li>
                <h1><a href="/">ImageViewer</a></h1>
            </li>
        </ul>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>