{% extends 'images/base.html' %}

{% block title %}
   Image Details
{% endblock %}

{% block content %}
    <img src="{{ image.content.url }}" alt="Image" height="500px">
    <br>
    {% if user == image.author or admin %}
        {% if user == image.author %}
            <form action="{% url 'image_edit' pk=image.pk %}">
                    {% csrf_token %}
                    <button type="submit">Change image</button>
            </form>
        {% endif %}
        <form action="{% url 'image_delete' pk=image.pk %}">
                    {% csrf_token %}
                    <button type="submit">Delete image</button>
        </form>
    {% endif %}

    <div class="author">
        <p>Author: <a href="{% url 'user_page' username=image.author %}">{{ image.author }}</a></p>
    </div>

    <div class="description">
        <p>Image description: {{ image.description }} </p>
    </div>
    <div class="size">
        <p>Image size: {{ image.content.width }}x{{ image.content.height }}({{ image.content.size }} byte)</p>
    </div>
    <div class="predominant_color">
        <p>Dominant color: {{ dominant_color }}</p>
    </div>
    <div class="average_color">
        <p>Average color: {{ average_color }}</p>
    </div>
    <div class="color_palette">
        <p>Color palette:</p>
        {% for color in palette %}
            <p>{{ color }}</p>
        {% endfor %}
    </div>
{% endblock %}
