{% extends 'images/base.html' %}
{% block title %}
    {{ owner.username }}'s page
{% endblock %}
{% block content %}
    {% if user == owner %}
        <form action="{% url 'password_change' %}">
                    {% csrf_token %}
                    <button type="submit">Change password</button>
        </form>
        {% if user_admin %}
            <form action="{% url 'user_new' %}">
                    {% csrf_token %}
                    <button type="submit">Add user</button>
            </form>
        {% endif %}
    {% endif %}

    <p>Page of user: {{ owner.username }} </p>
    <p>Role:
    {% if owner_admin %}
        Admin
    {% else %}
        User
    {% endif %}
    </p>
    {% if user_admin and owner_admin == False or user == owner%}
        {% if user_admin and owner_admin == False %}
            <form action="{% url 'user_add_to_admin' username=owner.username %}">
                    {% csrf_token %}
                    <button type="submit">Add user to admins</button>
            </form>
        {% endif %}
        <form action="{% url 'user_delete' username=owner.username %}">
                    {% csrf_token %}
                    <button type="submit">Delete user</button>
        </form>
    {% endif %}

    <p>Images added by {{ owner.username }}: </p>
    {% for image in page_obj %}
        <a href="{% url 'image_details' pk=image.pk %}"><img src="{{ image.content.url }}" alt="Image" height="206" width="206"></a>
    {% endfor %}

    {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
